
.menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.menu-wrap .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 80px;
    height: 80px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
    width: 80px;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*stredna ciara*/
.menu-wrap .hamburger > div {
    position: relative;
    width: 80%;
    height: 2px;
    background-color: rgb(255, 245, 245);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease;
}

/*vrchna a spodna ciara*/
.menu-wrap .hamburger > div:before,
.menu-wrap .hamburger > div:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 80%;
    height: 2px;
    background: inherit;
}
/*Posunie linku dole z -10 na 10*/
.menu-wrap .hamburger > div:after {
    top: 10px;
}

/*animacia po rozkliknuti*/
.menu-wrap .toggler:checked + .hamburger > div {
    transform: rotate(360deg);
}

/*ukaz menu*/
.menu-wrap .toggler:checked ~ .menu {
    visibility: visible;
}

.menu-wrap .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.6s;
}

.menu-wrap .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

 .menu-wrap .menu {
    background: scroll rgba(63, 66, 70, 0.972);
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility:hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .menu > div {
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    width: 200vw;
    height: 200vw;
    border-radius: 50%;
    transform: scale(0);
}

.menu-wrap .menu > div > div {
     text-align: center;
     max-width: 90vw;
     max-height: 100vh;
     opacity: 0; 
     transition: opacity 0.6s ease; 

}
.menu-wrap .menu > div > div > ul > li {
    list-style: none;
    color: rgb(211, 149, 180);
    font-size: 5rem;
    font-weight: 600;
    padding: 1rem;
}

.menu-wrap .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.6s ease;
}