/* @media screen and (min-width:376px) 
{
     {
    
    }
    } */
    
    @media screen and (max-width:426px) {
        .hero {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .container .intro {
            font-size: 2rem;
            font-weight: 500;
            margin-left: auto;
            margin-right: auto;
            padding: 1rem;
    }
    .container {
        text-align:center ;
        margin-top: 3rem;
    }
    .foto {
        width: 70%;
    }
    p {
        font-size: 2.5rem;
        padding:1rem 2rem;
        margin-top: 2rem;
        text-align: center;
    }
    }



     @media screen and (max-width:769px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container .intro {
        font-size: 4rem;
        font-weight: 500;
        margin-left: 1rem;
        margin-right: auto;
        margin-top: 3rem;
        padding: 2rem;
}
   
    }
/*
    @media screen and (min-width:1025px) {
    body {
    
    }
    }

    @media screen and (min-width:1440px) {
    body {
    
    }  */