@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Nothing+You+Could+Do&display=swap');

  
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(45deg,#fda2d0,#ece4a0);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Nothing You Could Do', cursive;
}



.intro {
    font-size: 7rem;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}


.intro-pod {
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 1.5rem;
    text-align: center;
}

h1:hover {
    opacity: 0.6;
}

img {
    width: 16%;
    height: 40%;
    border-radius: 5%;
}

.foto {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/**
.intro-box {
    margin-top: 20px;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

li {
    list-style-type: circle;
    padding: 1rem;
}

.info-box {
    margin-top: 16rem;
}
**/
p {
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    margin-top: 7rem;
}
